@import '../node_modules/tachyons/css/tachyons.css';
@import '../node_modules/ipfs-css/ipfs.css';

.progress-bar {
  background-image: linear-gradient(-45deg, 
    rgba(255, 255, 255, 0.35) 25%, 
    rgba(255, 255, 255, 0) 25%, 
    rgba(255, 255, 255, 0) 50%, 
    rgba(255, 255, 255, 0.35) 50%, 
    rgba(255, 255, 255, 0.35) 75%, 
    rgba(255, 255, 255, 0) 75%, 
    rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  background-size: 20px 20px;
  animation: stripes 1s linear infinite;
}

@-webkit-keyframes stripes {
  to {background-position: 20px 0;}
}

@-moz-keyframes stripes {
  to {background-position: 20px 0;}
}

@keyframes stripes {
  to {background-position: 20px 0;}
}

[data-tooltip] {
  position: relative;
  z-index: 10;
}

[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px); /* 5px is the size of the arrow */
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: -moz-max-content;
  width: max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0 5px; /* CSS triangle */
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip].hover:before,
[data-tooltip].hover:after {
  visibility: visible;
  opacity: 1;
}

[data-tooltip]:hover:before,
[data-tooltip].hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}

[data-tooltip]:hover:after,
[data-tooltip].hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}

[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
  left: auto;
  right: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location="left"]:before {
  transform: translate(-5px, 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before,
[data-tooltip-location="left"].hover:before {
  transform: translate(-5px, 50%) scale(1);
}

[data-tooltip-location="left"]:after {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after,
[data-tooltip-location="left"].hover:after {
  transform: translateY(50%) scaleX(1);
}

[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
  left: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location="right"]:before {
  transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before,
[data-tooltip-location="right"].hover:before {
  transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
  border-width: 5px 5px 5px 0;
  border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after,
[data-tooltip-location="right"].hover:after {
  transform: translateY(50%) scaleX(1);
}

[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
  top: calc(100% + 5px);
  bottom: auto;
}

[data-tooltip-location="bottom"]:before {
  transform: translate(-50%, 5px) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before,
[data-tooltip-location="bottom"].hover:before {
  transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
  transform-origin: bottom;
}

#spinner svg {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    width: 50px;
    height: 50px
}

#spinner svg .path {
    stroke: #000;
    fill: none;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124
    }
}

dl.fileInfo {
    word-break: break-all;
}

.error {
    margin-top: 20px;
    position: relative;
    padding: 20px 20px 20px 60px !important;
    border-radius: 4px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    width: -moz-fit-content;
    width: fit-content
}

.error::before {
    font-size: 32px;
    width: 58px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: '⚠'
}

.header-logo {
    height: 50px
}

#outputs {
  opacity: 0;
}

.f5 svg.icon {
    height: 16px;
    width: auto;
}

.f6 svg.icon {
    height: 12px;
    width: auto;
}

.f7 svg.icon {
    height: 10px;
    width: auto;
}
